<div *ngIf="(preloadImages$ | async) as sources">
  <img *ngFor="let source of sources; trackBy: trackByStringArray"
       [src]="source"
       style="display: none"
       (load)="onBgLoad()"
  />
</div>
<div *ngIf="(hours$ | async) as hours; else loading"
     class="picFrame"
>
  <!--    <div *ngFor="let hour of hours; index as i; trackBy: trackByStringArray"-->
  <!--         class="slice"-->
  <!--         [style.background-image]="'url(\'assets/cam_'+hour+'.jpg\')'"-->
  <!--         [style.background-size]="'1024px 768px'"-->
  <!--         [style.background-position.px]="-1024/sliceCount*i"-->
  <!--         [style.width.px]="1024 / sliceCount"-->
  <!--    >-->
  <!--      &nbsp;-->
  <!--    </div>-->
  <img *ngFor="let hour of hours; index as i; trackBy: trackByStringArray"
       class="slice"
       [src]="'assets/cam_'+hour+'.jpg'"
       [style.position]="'absolute'"
       [style.clip]="'rect(0px ' + (i+1) * 1024/sliceCount + 'px 768px ' + (i) * 1024/sliceCount+'px)'"
       (load)="onBgLoad()"
  />

  <form [formGroup]="controls">
    <input type="number"
           class="picTime"
           formControlName="start"
    />
  </form>
</div>

<ng-template #loading>
  Loading ( {{preloadImages$.value.length}} of {{preloadCount}} )...
</ng-template>
