.picFrame {
  width: 1024px;
  height: 768px;
  margin: auto;
}

.slice {
  height: 100%;
  /*position: absolute;*/
  background-attachment: fixed;
  background-position: center;
  display: inline-block;
}

.picTime {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}

